
.dark{
    
.card-img-top {
    width: 100%;
    height: 200px;

}

.card-body {
    h5 {
        margin-top: 20px;
        color: rgb(105, 105, 105);
    }

    font-weight: 600;
    font-size: 20px;
    color: rgb(94, 94, 94);
    height: 500px;
    // background-color: rgb(247, 247, 247);
}

.button {
    background-color: rgb(255, 226, 187);
    border: none;
    color: white;
}

.table {
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    border-radius: 20px;
}

.buynow{
    background-color: #B7A1DB;
    padding: 15px 20px;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 22px;
}

.Totalprice{
    color: rgb(255, 255, 255);
}


.empty{
    margin-top: 20px;
    color: rgb(255, 255, 255);
}
}



// dark---------

.card-img-top {
    width: 100%;
    height: 200px;

}

.card-body {
    h5 {
        margin-top: 20px;
        color: rgb(105, 105, 105);
    }

    font-weight: 600;
    font-size: 20px;
    color: rgb(94, 94, 94);
    height: 500px;
    // background-color: rgb(247, 247, 247);
}

.button {
    background-color: rgb(255, 226, 187);
    border: none;
    color: white;
}

.table {
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    border-radius: 20px;
}

.buynow{
    background-color: #B7A1DB;
    padding: 15px 20px;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 22px;
}

.Totalprice{
    color: black;
}

.empty{
    color: black;
}
