.dark{
    
.cardhomee{
    background-color: rgb(53, 50, 50);



    .card {
        border: none;
        margin-bottom: 50px;
        margin-top: 15px;
        background-color: rgb(53, 50, 50);
  color: white;
    
    
    }
}


.card-text {
    color: rgb(255, 255, 255);
padding-bottom: 20px;
    background-color: rgb(53, 50, 50);
}


}


// ----------------dark--------------#


.cardhomee{
    background-color: rgb(255, 255, 255);


    .card {
        color: black;
        border: none;
        margin-bottom: 50px;
        margin-top: 15px;
        background-color: rgb(255, 255, 255);
    
    
    }
}


.card-text {
    color: black;
    background-color: rgb(255, 255, 255);
}

