.buttonss {
    button {
        background-color: rgb(255, 255, 255);
        border: none;
        margin-bottom: 20px;

        .dogmen {
            height: 100px;
            width: 100px;
        }
        .dogwomen {
            height: 97px;
            width: 100px;
        }
    }
}