.dark{
    

.compe-img{
    width: 100%;
    border-radius: 20px;
}
.span1{
    font-size: 60px;
    color: rgb(255, 255, 255);
}
.span2{
    font-size: 60px;
    color: #ffffff;
}

@media screen and (min-width: 768px) {
    .Competitions {
        width: 100%;
        margin-top: 400px !important;
    }
}

@media screen and (max-width: 767px) {
    .Competitions {
        width: 100%;
        margin-top: 1100px !important;
    }
}




}













// ####### ---dark

.compe-img{
    width: 100%;
    border-radius: 20px;
}
.span1{
    font-size: 60px;
    color: black;
}
.span2{
    font-size: 60px;
    color: #B2A2CE;
}

@media screen and (min-width: 768px) {
    .Competitions {
        width: 100%;
        margin-top: 400px !important;
    }
}

@media screen and (max-width: 767px) {
    .Competitions {
        width: 100%;
        margin-top: 1100px !important;
    }
}
















