.dark{
    .fiqur{
        background-color: #353232;
        color: white;
        
            .elementor-shape[data-negative=false].elementor-shape-bottom, .elementor-shape[data-negative=true].elementor-shape-top {
                transform: rotate(180deg);
                height: 230px;
            }
            
            .elementor-8 .elementor-element.elementor-element-502312b > .elementor-shape-bottom svg {
                transform: translateX(-50%) rotateY(180deg);
            }
            
            .elementor-shape .elementor-shape-fill {
                fill: rgb(255, 226, 187);
                transform-origin: center;
                transform: rotateY(0deg);
            }
        
            .footer{
                margin-top: 15%;
                ul{
                    h1{
                        color:#ffffff ;

                    }
                    li{
                        list-style: none;
                        line-height: 27px;
                        color: white;
                    }
                }
                .logo2{
                    height: 80px;
                }
                
            }
        }
}


// ######-dark

.fiqur{
background-color: rgb(255, 255, 255);

    .elementor-shape[data-negative=false].elementor-shape-bottom, .elementor-shape[data-negative=true].elementor-shape-top {
        transform: rotate(180deg);
        height: 230px;
    }
    
    .elementor-8 .elementor-element.elementor-element-502312b > .elementor-shape-bottom svg {
        transform: translateX(-50%) rotateY(180deg);
    }
    
    .elementor-shape .elementor-shape-fill {
        fill: rgb(255, 226, 187);
        transform-origin: center;
        transform: rotateY(0deg);
    }

    .footer{
        margin-top: 15%;
        ul{
            h1{
                color:#0f0f0f ;
            }
            li{
                list-style: none;
                line-height: 27px;
                color: #0c0c0c;
            }
        }
        .logo2{
            height: 80px;
        }
        
    }
}