.dark{
    

  
    .hedd{
        background-color: #A8A8A8 ;

        .header {
            width: 100%;
            border-bottom: 2px solid #949494;
        background-color: #A8A8A8 ;
    
       
        .Welcome{
            color: #ffffff;
            font-weight: 600;
        }
            .lang-box {
                .header-icon-box {
                    width: 60%;
                    margin-bottom: 3px;
        
                    .en {
                        // background-color: rgb(159, 218, 92);
                        background-color: #b7a1db;
                        color: white;
                        border: none;
                        padding: 6px 14px;
                        border-radius: 12px;
        
                    }
        
                    .az {
                        background-color: #b7a1db;
                        color: white;
                        border: none;
                        padding: 6px 14px;
                        border-radius: 12px;
        
                    }
        
                    .mode {
                        background-color: #b7a1db;
                        color: white;
                        border: none;
                        padding: 6px 14px;
                        border-radius: 12px;
        
                    }
                }
            }
        }
    }
}




// ----dark-------------


    
    

.hedd{
    background-color: rgb(255, 255, 255);


    .header {
        width: 100%;
        border-bottom: 2px solid #F5F5F5;
        background-color: rgb(255, 255, 255);
        
        .Welcome{
            color: #B7A1DB;
            font-weight: 600;
        }
        .lang-box {
            .header-icon-box {
                width: 60%;
                margin-bottom: 3px;
    
                .en {
                    // background-color: rgb(159, 218, 92);
                    background-color: #b7a1db;
                    color: white;
                    border: none;
                    padding: 6px 14px;
                    border-radius: 12px;
    
                }
    
                .az {
                    background-color: #b7a1db;
                    color: white;
                    border: none;
                    padding: 6px 14px;
                    border-radius: 12px;
    
                }
    
                .mode {
                    background-color: #b7a1db;
                    color: white;
                    border: none;
                    padding: 6px 14px;
                    border-radius: 12px;
    
                }
            }
        }
    }
}
