// text--start-----------------------
.shoptext1 {
    // background-color: rgb(209, 199, 199);
    padding-top: 70px;
    font-size: 44px;
    font-weight: 900;
    color: rgb(255, 226, 187);
}

// text--end-----------------------


.cardtrend1 {
    // color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 55px;

    img {
        width: 100%;
    }
}

.cardtrend2 {
    // color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 55px;

    img {
        width: 100%;
    }
}

.cardtrend3 {
    // color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 55px;

    img {
        width: 100%;
    }
}


.cardtrend4 {
    // color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 55px;

    img {
        width: 100%;
    }
}





