.dark{
    .shopsection2 {
        .container {
            .row {
    
    h1{
        color: white;
    }
                .cardtrend3 {
                    height: 300px;
                    // background-color: red;
    
                    .secshopimg3 {
                        height: 100px;
    
                    }
    
                    .shoph1text3 {
                        margin-bottom: -50px;
                        margin-top: 60px;
                    }
                }
    
                .cardtrend1 {
    
                    img {
                        height: 230px;
                    }
    
                }
            }
        }
    
    }
}

// ###----dark

.shopsection2 {
    .container {
        .row {


            .cardtrend3 {
                height: 300px;
                // background-color: red;

                .secshopimg3 {
                    height: 100px;

                }

                .shoph1text3 {
                    margin-bottom: -50px;
                    margin-top: 60px;
                }
            }

            .cardtrend1 {

                img {
                    height: 230px;
                }

            }
        }
    }

}